# ISE/ISim

## directory
*/xst/
*/_ngo/
*/_xmsgs/
*/isim/

## files
*.gise
*.xise
*.exe
*.log
*.xmsgs
*.cmd
*.xreport
*.dll
*.dbg
*.c
*.obj
*.didat
*.dat
*/pn_info
*.html
*.vdb
*.prj
*.bgn
*.bit
*.bld
*.cmd_log
*.ncd
*.ngr
*.drc
*.stx
*.syr
*.ptwx
*.twr
*.twx
*.ut
*.ngc
*.iso
*.pcf
*.xst
*.xpi
*.mrp
*.ini
*.xrpt
*.xml
*.xbcd
*.txt
*.ngm
*.csv
*.wdb
*.par
*.pad
*.iso
*.ngd
*.map
*.xwbt
*.unroutes
*.lso


# etc.
sitcp/
