NET "LED<7>" LOC = "W21" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4 ;

NET "SPI_MOSI" LOC = "AB14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 ;
NET "SPI_SCK"  LOC = "AA20" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 ;
NET "DAC_CS"   LOC = "W7"   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 ;
NET "DAC_CLR"  LOC = "AB13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 ;

NET "CLK"  LOC = "E12" | IOSTANDARD = LVCMOS33 ;

NET "ROT_A" LOC = "T13"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "ROT_B" LOC = "R14"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "ROT_C" LOC = "R13"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;